<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="new">New Message</a>
    <% messages.forEach(message => { %>
      <h1><%= message.user %></h1>
      <ul>
        <li>
          <%= message.text %>
        </li>
        <li>
          <%= message.added %>
        </li>
      </ul>
    <% } )%>
  </body>
</html>
